
{% load static %}
<!doctype html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">


  </head>

  <body class="generator generator_index" itemscope itemtype="https://schema.org/WebPage">




    <header class="body-header js-body-header {{ text1 }}">
      <nav class="menu menu-desktop g" itemscope itemtype="https://schema.org/SiteNavigationElement">
  <ul class="menu-desktop__list">
    <li class="menu-desktop__item">
<a href="/" class="menu-desktop__logo f5 cl-white" itemprop="url">        <span itemprop="name">Lorem Ipsum</span>
</a>    </li>


  </ul>
  <ul class="menu-social__list">
    <li class="menu-social__item">
  </li>


  </ul>
</nav>
    </header>

    <main class="body-content js-body-content">
      
    {{ text2 }}

    </main>



    <div class="page-footer__block">

</div>



    <div class="body-overlay js-body-overlay"></div>

    <script src="/assets/javascripts/application-7d082002.js"></script>


  </body>
</html>